<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Image Transparency Tool Installer Bootstrapper" Version="1.0.0.0" Manufacturer="Kelly Elton" UpgradeCode="f5bbceb7-f733-4c49-a3e3-445d4a7dfc54">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<PackageGroupRef Id="NetFx461Web"/>
			<RollbackBoundary />
			<MsiPackage Id="MyApplication" SourceFile="..\ImageTransparencyTool.Installer\bin\Debug\ImageTransparencyTool.Installer.msi"/>
		</Chain>
	</Bundle>
</Wix>
