<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ImageTransparencyTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <exceptionless apiKey="Qnk2056Apxi7flpH0r9ZbbmRSEW3KvUmO6ltpiQN" />
  <userSettings>
    <ImageTransparencyTool.Properties.Settings>
      <setting name="UUID" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
    </ImageTransparencyTool.Properties.Settings>
  </userSettings>
</configuration>